html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.navbar {
    background-color: lightgrey;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-ul {
    margin: 10px 0;
}

.navbar ul {
    padding: 0;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    color: rebeccapurple;
    font-size: 20px;
}

.navbar .navbar-ul .nav-left {
    color: black;
}

.navbar ul li {
    list-style: none;
    padding-right: 20px;
}

.search-box {
    width: 80%;
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 35px;
}

.search-box .round {
    border-radius: 8px;
    font-size: 14px;
}

.search-box input {
    width: 50%;
    margin: 0 auto;
    height: 36px;
}

.search-box img {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.search-box placeholder {
    font-size: 14px;
}

.job-links a {
    font-weight: bold;
}

.job-links {
    margin-left: 35.5px;
    color: gray;
    margin-top: 50px;
}

.job-links .firstlabel {
    margin-bottom: 10px;
}

.job-links .secondlabel {
    margin-bottom: 10px;
}

.job-links .thirdlabel {
    margin-bottom: 10px;
}

.results {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-left: 75px;
    font-size: 18px;
    font-weight: 100;
}

.results .prev {
    border: 1px solid grey;
    border-right: 0;
    padding: 8px;
}

.results .next {
    border: 1px solid grey;
    border-left: 0;
    padding: 8px;
}

.results .numbers {
    border: 1px solid grey;
    padding: 8px;
}