html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.navbar {
    border: 1px solid red;
    background-color: lightblue;
    width: 100%;
}

.navbar ul {
    border: 1px solid blue;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    border: 1px solid orange;
    list-style: none;
}

.search-box {
    width: 80%;
    margin-top: 100px;
    border: 1px solid red;
}

.search-box input {
    width: 50%;
    margin: 0 auto;
}